@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #212121;
  color: antiquewhite;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.first-line {
  font-size: xx-large;
}

.second-line {
  font-size: large;
}

.first-line,
.second-line {
  padding-left: 20px;
  padding-right: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top: 4px solid antiquewhite;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
